DICT_PATH = "C:/Users/Manchery/Desktop/实验1材料/dict/dict.txt"
HMM_PATH = "C:/Users/Manchery/Desktop/实验1材料/dict/HMM.txt"
STOP_PATH = "C:/Users/Manchery/Desktop/实验1材料/dict/stopwords.txt"
USE_HMM = true
USE_STOP = true

INPUT_DIR = "C:/Users/Manchery/Desktop/实验1材料/input"
OUTPUT_DIR = "C:/Users/Manchery/Desktop/实验1材料/output"

